@import "./Variables";

.navbar {
    height: 20vh;

    li {
        text-transform: uppercase;
        color: $black;

        &:hover {
            color: $blue;
        }
    }
}

#burger-menu {
    display: none;
}

@media (orientation:landscape) {
    .navbar {
        @include flexCenter(row);

        padding: 0 3rem;

        #logo {
            width: 20rem;
        }

        ul {
            @include flexCenter(row);
            gap: 3rem;

            li {
                font-size: 1.5rem;
            }
        }

        .burger {
            display: none;
        }

    }

    @media (max-width:1200px) {
        .navbar {

            #logo {
                width: 15rem;
                ul {
                    gap: 2rem;
                }
            }
        }
    }

    @media (max-width:800px) {
        .navbar {
            ul {
                li {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (orientation:portrait) {
    .navbar {
        @include flexCenter(row);

        #logo {
            width: 20rem;
        }

        .burger {
            display: flex;
            width: 5rem;
            height: 5rem;
            background-color: transparent;
            border: none;
        }
    
        .burger img {
            width: 100%;
            object-fit: cover;
        }
    
        ul {
            display: none;
        }
    
    }

    #burger-menu-active {
        @include flexCenter(column);
        width: 100%;
        height: 80vh;
        background-color: $white;
        z-index: 1000;


        ul {
            @include flexCenter(column);

            li {
                font-size: 3rem;
                color: $blue;
                line-height: 10rem;
                text-transform: uppercase;
            }
        }
    }

}